<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
        crossorigin="anonymous">
  <title>Lista de Mascotas</title>
</head>
<body>



<div class="container">

  <div claaa="row">
    <a class="btn btn-primary mt-4 mb-4" th:href="@{/listaViajes}">Viajes</a>
    <a class="btn btn-primary mt-4 mb-4" th:href="@{/listaMascotas}">Mascotas</a>
    <a class="btn btn-primary mt-4 mb-4" th:href="@{/listaLugares}">Lugares</a>
  </div>

  <h2>Lista de Mascotas</h2>


  <div claaa="row">
    <a class="btn btn-primary mt-4 mb-4" th:href="@{/newViaje}">Nuevo Mascota</a>
  </div>


  <table class="table table-sm">
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Género</th>
      <th>Edad</th>
      <th>Fecha de nacimiento</th>
      <th>Vacunado?</th>
      <th>Desparasitado?</th>
      <th>Dueño</th>
      <th></th>
      <th></th>
    </tr>
    <tr th:each="mascota, info: ${listaMascotas}">
      <td th:text="${info.index + 1}"></td>
      <td th:text="${mascota.getNombremascota()}"></td>
      <td th:text="${mascota.getGenero()}"></td>
      <td th:text="${mascota.getEdad()}"></td>
      <td th:text="${mascota.getFechanacimiento()}"></td>
      <td th:text="${mascota.getVacunado()}"></td>
      <td th:text="${mascota.getDesparasitado()}"></td>
      <td th:text="${mascota.getDueno().getNombrepersona()}"></td>

      <td><a class="btn btn-primary" >Editar</a></td>
      <td><a class="btn btn-danger" th:href="@{'/eliminarMascotaUU?id=' + ${mascota.idmascota}}">Borrar</a>
      </td>
    </tr>
  </table>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>
</html>